@import 'base/mixins';
@import 'base/variables';
@import 'libs/reset';

* {
    box-sizing: border-box;
    &::after, &::before {
        box-sizing: border-box;
    }
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: $text_color;
}


.container {
    width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/btns';